
    /* GERAL */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(45deg, #510a0a, white);
}

/* NAVBAR */
.navbar {
    background: #8C2F1B;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

/* LOGO CENTRAL DA HERO */
.logo-central {
    width: 180px;
    max-width: 60%;
    display: block;
    margin: 0 auto 20px auto;
}

/* HERO */
.hero {
    background: #8C2F1B;
    color: white;
    text-align: center;
    padding: 120px 20px;
}

.button {
    background: white;
    color: #8C2F1B;
    padding: 12px 25px;
    border-radius: 8px;
    display: inline-block;
    margin-top: 20px;
    font-weight: bold;
    text-decoration: none;
}

/* PRODUTOS */
.produtos {
    padding: 60px 20px;
    text-align: center;
}

.lista-produtos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
}

/* CARD */
.card {
    background: #F7D7D0;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
}

/* IMAGENS DOS PRODUTOS  — RESPONSIVAS */
.card img {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    border-radius: 10px;
}

/* TITULO DO PRODUTO */
.card-info h3 {
    font-size: 18px;
    margin: 10px 0 5px;
}

/* DESCRIÇÃO */
.desc {
    font-size: 14px;
    line-height: 1.3;
}

/* PREÇO E BOTÃO */
.card-bottom {
    margin-top: 10px;
}

/* BOTAO ADICIONAR */
.card button {
    background: #8C2F1B;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
}

/* SOBRE */
.sobre {
    padding: 60px 20px;
}

.sobre-box {
    display: flex;
    background: #8C2F1B;
    color: white;
    padding: 20px;
    border-radius: 15px;
    gap: 20px;
    flex-wrap: wrap;
}

/* IMAGEM DA CONFEITEIRA — RESPONSIVA E MENOR */
.sobre-img img {
    width: 220px;
    border-radius: 15px;
    object-fit: cover;
}

/* TEXTO SOBRE */
.sobre-texto {
    flex: 1;
}

.sobre-texto h2 {
    font-size: 26px;
}

.sobre-texto p {
    font-size: 18px;
    line-height: 1.4;
}

/* CONTATO */
.contato {
    width: 60%;
    margin: 10px auto;
    background: #c56942;
    color: white;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
}

/* CARRINHO — IGUAL AO CONTATO */
.carrinho {
    width: 260px;
    position: fixed;
    top: 100px;
    right: 10px;
    background: #c56942;
    color: white;
    padding: 15px;
    border-radius: 15px;
}

/* CARRINHO TEXTO */
.carrinho h3 {
    margin-top: 0;
}

/* IMAGENS FICAREM TODAS RESPONSIVAS */
img {
    max-width: 100%;
    height: auto;
}

/* FOOTER */
footer {
    background: #8C2F1B;
    color: white;
    text-align: center;
    padding: 20px;
}
