body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #fff0f5;
    text-align: center;
}

/* LOGO */
.logo {
    width: 180px;
    margin: 20px auto;
    display: block;
    filter: saturate(2); /* cor mais viva */
}

/* CONFEITEIRA */
.foto-confeiteira {
    width: 150px; /* menor */
    border-radius: 20px;
}

.confeiteira p {
    font-size: 18px;
    color: #b84b7a;
}

/* TÍTULO */
.titulo-secao {
    margin-top: 30px;
    color: #b84b7a;
    font-size: 26px;
    font-weight: bold;
}

/* GALERIA */
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 12px;
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

.galeria img {
    width: 100%;
    max-width: 150px; /* controla o tamanho FIXO */
    border-radius: 12px;
    display: block;
    margin: auto;     /* centraliza */
    transition: .3s;
}

.galeria img:hover {
    transform: scale(1.05);
}


/* CONTATO */
.contato {
    width: 60%;
    margin: 10px auto;
    background: #b84b7a; /* cor da logo */
    color: white;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
}

.contato td {
    padding: 10px;
    border-bottom: 1px solid #ffffff44;
}

.contato tr:last-child td {
    border-bottom: none;
}
